<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.patrycja1.safedriver">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logos"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logos"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LogIn" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".WeatherPanel"
            android:label="@string/title_activity_weather_panel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".help.HelpInstruction0" />
        <activity android:name=".AlarmActivity" />

        <service android:name=".services.AlarmService" />

        <receiver android:name=".services.StartAlarmListener" >

        </receiver>
        <receiver android:name=".services.StopAlarmListener" />
        <activity android:name=".AboutApplication"></activity>
    </application>

</manifest>